<nav class="navbar navbar-expand-lg bg-dark">
<div class="container">
  <!-- <a class="navbar-brand text-white" href="#">Navbar</a> -->
  <%= link_to 'Finance Tracker', root_path, class: 'navbar-brand text-white' %>
  <% if current_user %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item <%= 'active' if request.path == my_portfolio_path %>">
          <!-- <a class="nav-link active text-white" aria-current="page" href="#">Home</a> -->
          <%= link_to 'My Portfolio', my_portfolio_path, class: 'nav-link text-white' %>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu">
            
            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
              <i class="fa-solid fa-user-pen"></i> Edit Profile
            <% end %>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-white">Disabled</a>
        </li>
      </ul>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item text-white user-name'>
          <i class="fa-solid fa-user"></i>
          <%= current_user.full_name %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-light logout-button text-white" type="submit">Search</button>  
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item' >
          <%= link_to("LogOut", destroy_user_session_path, method: :delete, class: "btn btn-xs btn-danger text-white") %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
</nav>